div.liveTile:first-child {
	margin: 0;
}

div.liveTile {
	margin-top: 20px;
}


div.liveTile div#imageTile{
	margin-right: 5px;
	width: 162px;
	height: 162px;
	background-image: url("../img/live_shapeImage.png");
	background-position: top left;
	float: left;
}

div.liveTile div#descriptionTile {
	margin-top: 3px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 330px;
	float: left;
}

div.liveTile div#descriptionTile div#descriptionTitle h3 {
	margin: 4px 0;
}

div.liveTile div#descriptionTile div#shortDescription {
	font-size: 14px;
	font-weight: normal;
	margin: 9px 0;
}

div.liveTile img {
	width: 148px;
	height: 148px;
	margin: 0;
	position: relative;
	top: 7px;
	left: 7px;
}

table.liveTable {
	border-collapse: collapse;
	width: 400px;
	font-size: 18px;
}

table.liveTable tr {
	font-weight: normal;
}


table.liveTable td {
	border-bottom: 1px solid gray;
}

table.liveTable td.time {
	width: 130px;
	font-family: 'Petrols';
}

table.liveTable td.description {
	font-family: 'Petrols';
}

table.liveTable td.tickets a {
	font-size: 14px;
	font-weight: bold;
	float: right;
	text-decoration: none;
}

table.liveTable td.tickets span {
	font-size: 14px;
	font-weight: bold;
	color: #666;
	float: right;
	text-decoration: none;
}